@model IEnumerable<Domain.Entities.evaluation>

@{
    ViewBag.Title = "ListeEvaluation";
    Layout = "~/Views/Shared/_Back.cshtml";
}

<img src="~/Content/img/icon/list.png" />

<h2>Liste des Evaluations </h2>
<br />
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DATE_EVAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titre_Eval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc_Eval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score_Manager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score_self)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score_team)
        </th>
       
        
    </tr>

@foreach (var item in ViewBag.result) {
    <tr>
        <td>

            @item.DATE_EVAL
        </td>
        <td>
            @item.Titre_Eval
        </td>
        <td>
            @item.Type
        </td>
        <td>
            @item.desc_Eval
        </td>
        <td>
            @item.score_Manager
        </td>
        <td>
            @item.score_self
        </td>
        <td>
            @item.score_team
        </td>
       
        
    </tr>
}

</table>
