@model Domain.Entities.affectationenligne

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Back.cshtml";

}

<h2>Details</h2>

<div>
    <h4>affectationenligne</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.niveau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.niveau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.formationEnLigne_formationElLigneId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formationEnLigne_formationElLigneId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.participationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
