@model Domain.Entities.reclamation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Probléme résolu?</h3>
<div>
    <h4>reclamation</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.titreclaim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titreclaim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reponse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reponse)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Confirmer la resolution" class="btn btn-success" /> <a href="~/Claim/Index"> <input type="button"  value="Retour" class="btn btn-dark" /></a>
        @*@Html.ActionLink("Back to List", "Index")*@
    </div>
    }
</div>
