@model IEnumerable<Domain.Entities.reclamation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des Reclamations</h2>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<style>
    .search-panel {
        position: center;
        left: 80px;
        top: auto;
        background-color: #ced6e0;
        height: auto;
        align-items: center;
        justify-content: center;
        width: 500px;
        padding: 60px;
        text-align: center;
        box-shadow: 0 0 20px #808080;
    }
</style>
<p>
    <button class="btn btn-success"><i class="fa fa-plus"></i>@Html.ActionLink("Nouvelle  Reclamation ", "Create") </button>
</p>

<br />
@using (Html.BeginForm())
{
<div class="search-panel">
    <div class="row">
        <div> Matricule : </div>
    </div>
    <br />
    <div class="row">
        <div>
            @Html.TextBox("searchstring")
            
        </div>
    </div>
    <br />
    <div class="row">
        <div>
            <input type="submit" value="Rechercher" id="submit" /> <i class="fa fa-search"></i>
        </div>
    </div>
</div>

}
<br />
<br />
<table class="table table-hover dataTable  table-striped table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReclmationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titreclaim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reponse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateopen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.evaluation_id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReclmationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titreclaim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reponse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateopen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.evaluation_id)
        </td>
        <td>
            <button class="btn btn-dark"><i class="fa fa-edit"></i> @Html.ActionLink("Edit", "Edit", new { id = item.ReclmationID })</button>
            <button class="btn btn-danger"> @Html.ActionLink("Colture", "Delete", new { id = item.ReclmationID, Style = "color:White;" }) </button>
        </td>
    </tr>
    }

</table>
@*<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').dataTable();
    });</script>*@
