@model Domain.Entities.qcm

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Back.cshtml";

}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>qcm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.formationenligne.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formationenligne.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qtext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qtext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialite)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
